p { padding: 0; margin: 0; }

.menu-title { text-align: left; font-size: 2rem; color: #202e32; font-weight: bolder; padding: 15px 0; }

.text-l { text-align: left; }

.t-b-28 { font-size: 2rem; font-weight: bolder; }
