@import "color";

p {
  padding: 0;
  margin: 0;
}

.text-l {
  text-align: left;
}

.text-r {
  text-align: right;
}

.line-h-80 {
  line-height: 80px;
}

.line-h-43 {
  line-height: 43px;
}

.menu-title {
  text-align: left;
  font-size: 2rem;
  color: $font-deep-black;
  font-weight: bolder;
  padding: 30px 0;
}

.t-b-28 {
  font-size: 2rem;
  font-weight: bolder;
}

.t-r-15 {
  font-size: 1.15rem;
}

.t-grey-15 {
  font-size: 1.15rem;
  color: $font-grey;
}

.t-black-15 {
  display: inline-block;
  font-size: 1.15rem;
  color: $font-deep-black;
}

.t-blue-15 {
  display: inline-block;
  font-size: 1.15rem;
  color: $blue;
}

.topName {
  display: inline-block;
  font-size: 1.38rem;
  line-height: 80px;
  padding-right: 15px;
}

.t-blue-16 {
  display: inline-block;
  font-size: 1.23rem;
  color: $blue;
}

.t-blue-20 {
  display: inline-block;
  font-size: 1.53rem;
  color: $blue;
}

.t-black-20 {
  display: inline-block;
  font-size: 1.53rem;
  color: $font-deep-black;
}

.t-file {
  display: inline-block;
  font-size: 1rem;
  color: $font-deep-black;
  line-height: 35px;
  margin: 0 10px;
}

.t-file-g {
  display: inline-block;
  font-size: 1rem;
  color: $font-grey;
  line-height: 35px;
  margin: 0 10px;
}



















