@import "Ginkgo";
@import "color";

button, a {
  cursor: pointer;
  text-decoration: none;
  outline: 0;
}

button {
  border: 0;
}

.btn-full-blue {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
  color: white;
  font-size: 1.23rem;
  background-color: $blue_l;
  @include border-radius(3px);

  &:hover {
    opacity: .9;
  }
}

.btn-half-blue, .btn-half-grey, .btn-half-orange, .btn-half-blueG, .btn-half-red, .btn-half-blueG2 {
  display: inline-block;
  padding: 7px 20px;
  color: white;
  font-size: 1.23rem;
  min-width: 120px;
  @include border-radius(3px);
  text-align: center !important;

  &:hover {
    opacity: .9;
  }

  &.wF {
    width: 100%;
  }
}

.btn-half-blueG2 {
  background-color: $blueGrey_l;
}

.btn-half-red {
  background-color: rgba(255, 238, 233, 1.00);
  color: $red;
}

.btn-half-blue {
  background-color: $blue_l;

  &.icon-search { line-height: 30px;}

  &.icon-icon_mail {line-height: 30px;}

  &.icon-comments {line-height: 30px;}

  &.icon-icon03 {line-height: 30px;}
}

.btn-half-grey {
  background-color: $grey_l;

  &.lh-30 {
    line-height: 30px;
  } 
}

.btn-half-orange {
  background-color: $orange;

  &.icon-send { line-height: 29px;}
}

.btn-half-blueG {
  background-color: $blueGrey_l_50;

  &.icon-eye {line-height: 24px;}
  &.icon-icon04 {line-height: 24px;}
}


.btn-outline-blue {
  display: inline-block;
  padding: 8px 20px;
  @include border-radius(3px);
  border: 1px solid $blue_l;
  color: $blue_l;
  font-size: 1rem;
  @include transition(all .3s);
  
  &:hover, &:active {
    background-color: $blue_l;
    color: white;
  }

  &.icon-add {
    line-height: 30px;
  }

  &.outlineNobg {
    padding: 5px 20px;
    background-color: white;

    &:hover, &:active {
      background-color: $blue_l;
      color: white;
    }
  }
}


.menuArea {
  display: inline-block;
  width: calc(100% / 7 - 40px * 6 / 7);
  max-height: 115px;
  background-color: white;
  @include border-radius(3px);
  float: left;
  padding: 15px;
  margin-left: 40px;
  margin-bottom: 40px;

  &:nth-child(7n+1) {
    margin-left: 0;
  }
}

.forgetPW {
  display: inline-block;
  color: rgba(32, 46, 50, 1.00);

  &:before {
    display: inline-block;
    content: '\e908';
    color: $blue_l_30;
    font-family: icon;
    font-size: 1rem;
    margin-right: 8px;
  }

  &:hover, &:active {
    color: $blue_l;
  }
}


.iconLink {
  display: inline-block;
  width: 30px;
  height: 30px;
  font-size: 1.1rem;
  color: white;
  text-align: center;
  line-height: 30px;
  @include border-radius(30px);
  
  &.linkBlue {
    background-color: $blue_l_30;

    &:hover, &:active {
      background-color: $blue_l;
    }
  }

  &.linkGrey {
    background-color: $blueGrey_l_50;

    &:hover, &:active {
      background-color: $blueGrey_l;
    }

    &.icon-content_copy {
      line-height: 29px;
    }

    &.icon-camera {
      line-height: 29px;
      font-size: 1rem;
    }

    &.icon-eye {
      line-height: 29px;
      font-size: 1rem;
    }
  }
}

.tag {
  display: inline-block;
  font-size: .9rem;
  color: $blueGrey_l;

  &:after {
    display: inline-block;
    content: '/';
    margin: 0 5px;
  }

  &:hover, &:active {
    color: $blue;

    &:after {
      color: $blueGrey_l;
    }
  }

  &:last-child {
    &:after {
      display: none;
    }
  }
}


.icon-cancel {
  display: inline-block;
  color: $red;
  background-color: transparent;
  margin-top: 11px;
}


.icon-add_circle {
  display: inline-block;
  color: $blue;
  font-size: 2rem;
  background-color: transparent;
}

.link_order_info {
  display: inline-block;
  cursor: pointer;
  width: 120px;
  font-size: 1.1rem;
  color: $font-deep-black;
  background-color: $blue_l_30;
  @include transition(all .3s);
  // border-bottom: 2px solid white;
  padding: 10px 0;
  float: left;
  text-align: center;
  margin-right: 5px;

  &:first-child {
    -webkit-border-top-left-radius: 3px;
    -moz-border-radius-topleft: 3px;
    border-top-left-radius: 3px;
  }

  &:last-child {
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topright: 3px;
    border-top-right-radius: 3px;
  }

  &.loi_s {
    color: white;
    background-color: $blue_l;

    &:hover, &:active {
      color: white;
      background-color: $blue_l;
    }
  }

  &:hover, &:active {
    color: white;
    background-color: $blue_l;
  }
}










