@import "Ginkgo";
@import "color";

// 光箱
#myModel {
  // display: inline-block;
  display: none;

  &.showModel {
    display: flex;
  }
  
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(33, 33, 33, .8);

  .ac_outer {
    width: 100%;
  
    .model_boxs {
      display: none;

      &.show {
          display: inline-block;
      }

      width: 100%;
      max-width: 600px;
      background-color: white;
      @include border-radius(4px);
      @include clearfix();
      margin: 50px 0;
      padding: 20px 15px;

      @include range-width(0, 450px) {
        max-width: auto;
        margin: 0;
        @include border-radius(0);
      }

      .t-close {
        display: inline-block;
        font-size: 1.38rem;
        font-weight: bold;
        cursor: pointer;
        color: $font-deep-black;
        float: right;
        @include transition(all .3s);
      }
    }
  }
}

.menuArea {
  p {
    display: inline-block;
    font-size: 1.2rem;
    color: $blue_l;

    &.icon-menu_icon01, &.icon-menu_icon02svg {
      font-size: 3rem;
    }
  }

  &:hover, &:active {
    background-color: $blue_l;

    p {
      color: white;
    }
  }
}


.numL, .numR {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: 1.23rem;
  color: white;
  line-height: 40px;
  background-color: $blueGrey_l;
  text-align: center;

  &:hover, &:active {
    opacity: .5;
  }
}

.numL {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  @include rotate(90deg);
}

.numR {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  @include rotate(-90deg);
}

.t-page {
  display: inline-block;
  font-size: 1.23rem;
  color: $blueGrey_l_50;
  line-height: 40px;
  margin-right: 12px;
}

.table-header, .table-body {
  display: inline-block;
  width: 100%;
  padding: 15px 10px;
  @include clearfix();
  text-align: center;
}

.table-header {
  border-top: 2px solid $blue_l_30;
  border-bottom: 2px solid $blue_l_30;
  font-weight: bolder;
  color: $font-deep-black;
  font-size: 1.15rem;
}
.table-body {
  border-bottom: 1px solid $blue_l_30;
  color: $font-grey;
  font-size: 1.07rem;
}

.table-box10, .table-box20, .table-box30, .table-box40, .table-box50, .table-box60, .table-box70, .table-box80, .table-box90{
  display: inline-block;
  float: left;
}

.noneFloat {
  float: none !important;
}

.table-box10 {
  width: 10%;

  &.t-red {
    color: $red;
  }
}

.table-box20 {
  width: 20%;
}

.table-box30 {
  width: 30%;
}

.table-box40 {
  width: 40%;
}

.table-box50 {
  width: 50%;
}

.table-box60 {
  width: 60%;
}

.table-box70 {
  width: 70%;
}

.table-box80 {
  width: 80%;
}

.table-box90 {
  width: 90%;
}


.splitLine_bl {
  display: inline-block;
  width: 100%;
  border-bottom: 1px dotted $blue_l_30;
  margin: 25px 0;
}

.splitLine_title {
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid $blue_l_30;
  margin: 25px 0;
}

.proListImg {
  display: inline-block;
  width: 100%;
  max-width: 80px;
  @include border-radius(3px);
  border: 1px solid $grey_l;
  overflow: hidden;
}

.proFinalImg {
  display: inline-block;
  width: 100%;
  max-width: 247px;
  @include border-radius(3px);
  border: 1px solid $grey_l;
  overflow: hidden;
}


.order_info {
  display: inline-block;
  width: 100%;
  // 控制按鈕分頁，設定預設值是沒有顯示
  display: none;

  &.order_info_show {
    display: inline-block;
  } 
}

.order_boxs {
  display: inline-block;
  width: 100%;
  background-color: white;
  @include box-shadow(0 1px 1px rgba(220, 219, 220, .5));
  overflow: hidden;
}

.price_boxs {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px; 
  background-color: $blueGrey_l;
  color: white;
  text-align: left;
  font-size: 1.15rem;

  &:after {
    display: inline-block;
    content: '\e91c';
    float: right;
    font-family: icon;
    line-height: 26px;
  }
}

.price_boxsC {
  display: none;

  &.price_boxsC_show {
    display: inline-block;
    width: 100%;
    background-color: white;
    padding: 15px 20px;
  }

  &.pc {
    padding: 15px !important;
  }
}

.price_boxsB {
  display: inline-block;
  width: 100%;
  height: 8px;
  width: 100%;
  background-color: white;
  -webkit-border-bottom-right-radius: 3px;
  -webkit-border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
}

.chooseBoxs {
  display: inline-block;
  width: 100%;
  padding: 10px 20px;
  color: white;
  text-align: left;
  font-size: 1.15rem;
  @include border-radius(3px);
  // margin: 10px 0;

  &.cB_blue {
    background-color: $blue_l;
  }

  &.cB_green {
    background-color: rgba(48, 186, 128, 1.00);
  }

  &.cB_GY {
    background-color: rgba(203, 166, 36, 1.00);
  }

  &.cB_pr {
    background-color: rgba(112, 68, 188, 1.00);
  }

  &:after {
    display: inline-block;
    content: '\e91c';
    float: right;
    font-family: icon;
    line-height: 26px;
  }
}

.chooseBoxsC {
  display: none;

  &.chooseBoxsC_show {
    display: inline-block;
    width: 100%;
    background-color: white;
    padding: 15px 0;
  }
}


.t-info {
  display: inline-block;
  font-size: 1.38rem;
  color: rgba(251, 223, 147, 1.00);
}

// .info_btn {
//   display: inline-block;
//   display: inline-block;
//   font-size: 1.38rem;
//   color: rgba(251, 223, 147, 1.00);

//   &:hover {
//     .info_hover {
//       display: block;
//     }
//   }
// }

// .info_hover {
//   display: none;
//   background-color: #ffb2b2;
// }















