

.p-td-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.p-lr-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.p-d-40 {
  padding-bottom: 40px;
}

.p-d-100 {
  padding-bottom: 100px;
}

.p-d-30 {
  padding-bottom: 30px;
}

.p-d-15 {
  padding-bottom: 15px;
}

.p-d-10 {
  padding-bottom: 10px;
}

.p-t-16 {
  padding-top: 16px;
}

.p-r-15 {
  padding-right: 15px;
}

.p-l-15 {
  padding-left: 15px;
}




.m-td-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-d-25 {
  margin-bottom: 25px;
}

.m-d-20 {
  margin-bottom: 20px;
}

.m-d-10 {
  margin-bottom: 10px;
}

.m-d-100 {
  margin-bottom: 100px;
}

.m-l-15 {
  margin-left: 15px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-lr-10 {
  margin: 0 10px;
}




